/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2014, 6:24:36 PM
    Author     : Iram
*/

label {
    display: block;
    width: 8em;
    text-align: left;
    color:black;
    float: left;
}

.right{
    padding-bottom: 300px;    

}
